@using Business.ViewModels.Account
@model ResetPasswordVM


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forget Password</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>


    <form asp-action="ResetPassword" asp-controller="Account" method="post">

        <input type="hidden" asp-for="Token" />
        <input type="hidden" asp-for="Email" />

        <h3 style="margin-top:150px">Set a new password:</h3>


        <input style="height: 60px; font-size: 20px;" asp-for="NewPassword" placeholder="New Password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>

        <input style="height: 60px; font-size: 20px;" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <button type="submit" style="height: 50px ; width: 50%; font-size: 18px;margin-left: 25% ;padding: 10px 20px;">Reset Password</button>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
